<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @acessos_api.token %>
</p>

<p>
  <strong>Url:</strong>
  <%= @acessos_api.url %>
</p>

<%= link_to 'Edit', edit_acessos_api_path(@acessos_api) %> |
<%= link_to 'Back', acessos_apis_path %>
